@font-face {
  font-family: 'millimetre_bold';
  src: local("millimetre_boldbold"), url("/src/assets/fonts/bold/millimetre-bold-webfont.woff2") format("woff2"), url("/src/assets/fonts/bold/millimetre-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'millimetre_extrablack';
  src: local("millimetre_boldbold"), url("/src/assets/fonts/extrablack/millimetre-extrablack-webfont.woff2") format("woff2"), url("/src/assets/fonts/extrablack/millimetre-extrablack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'millimetre_light';
  src: local("millimetre_boldbold"), url("/src/assets/fonts/light/millimetre-light-webfont.woff2") format("woff2"), url("/src/assets/fonts/light/millimetre-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'millimetre_regular';
  src: local("millimetre_regular"), url("/src/assets/fonts/regular/millimetre-regular-webfont.woff2") format("woff2"), url("/src/assets/fonts/regular/millimetre-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes shadowButton {
  from {
    box-shadow: #3E3E3E 0px 0px 0px 0px; }
  to {
    translate: 2px 2px; } }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "millimetre_regular";
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

html {
  height: 100vh;
  font-size: 62.5%; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1;
  min-height: 100vh;
  position: relative;
  font-size: 1.6rem;
  color: #3E3E3E; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

button {
  font-family: "millimetre_regular";
  font-size: 1.6rem; }

a {
  text-decoration: none;
  color: #3E3E3E;
  cursor: pointer; }

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.button {
  background-color: #BFFFD6;
  font-family: "millimetre_bold";
  letter-spacing: .1rem;
  border: 1px solid #3E3E3E;
  border-radius: 5px;
  box-shadow: #3E3E3E -2px -2px 0px 1px;
  padding: .5rem 2rem;
  margin: 0 1rem; }
  .button:hover {
    animation: 0.25s infinite alternate shadowButton; }
  .button a {
    font-family: "millimetre_bold";
    color: #3E3E3E; }

.button-green {
  background-color: #BFFFD6;
  font-family: "millimetre_bold";
  letter-spacing: .1rem;
  border: 1px solid #3E3E3E;
  border-radius: 5px;
  box-shadow: #3E3E3E -2px -2px 0px 1px;
  padding: .5rem 2rem;
  margin: 0 1rem; }
  .button-green:hover {
    animation: 0.25s infinite alternate shadowButton; }
  .button-green a {
    font-family: "millimetre_bold";
    color: #3E3E3E; }

.button-purple {
  background-color: #CDB4FF;
  font-family: "millimetre_bold";
  letter-spacing: .1rem;
  border: 1px solid #3E3E3E;
  border-radius: 5px;
  box-shadow: #3E3E3E -2px -2px 0px 1px;
  padding: .5rem 2rem;
  margin: 0 1rem; }
  .button-purple:hover {
    animation: 0.25s infinite alternate shadowButton; }
  .button-purple a {
    font-family: "millimetre_bold";
    color: #3E3E3E; }

.button-gray {
  background-color: #F6F6F6;
  font-family: "millimetre_bold";
  letter-spacing: .1rem;
  border: 1px solid #3E3E3E;
  border-radius: 5px;
  box-shadow: #3E3E3E -2px -2px 0px 1px;
  padding: .5rem 2rem;
  margin: 0 1rem; }
  .button-gray:hover {
    animation: 0.25s infinite alternate shadowButton; }
  .button-gray a {
    font-family: "millimetre_bold";
    color: #3E3E3E; }

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  padding: 1.5rem;
  background-color: #F6F6F6;
  border: 2px solid #3E3E3E;
  border-radius: 20px;
  box-shadow: #BFFFD6 -6px -6px 0px 1px, -7px -7px 0 1px #3E3E3E; }
  .card > * {
    margin: 1rem 0; }
  .card--img {
    overflow: hidden;
    border: 2px solid #3E3E3E;
    border-radius: 5px;
    width: 100%;
    height: 260px;
    align-self: center; }
    .card--img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card--title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .card--title span {
      font-family: "millimetre_bold";
      font-size: 2rem; }
  .card--btn {
    align-self: center;
    padding: .5rem 3rem; }

.nav {
  padding: 1rem 2rem 2rem 2rem; }

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header--right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.header--right__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.header--right__social {
  margin-left: 1rem; }

.link {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-size: 1.6rem; }

.icon {
  margin: 0 0.5rem; }

.footer {
  background-color: #CDB4FF;
  color: #3E3E3E;
  width: 100%; }
  .footer h1 {
    color: #3E3E3E;
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .footer--top {
    margin: 2rem 2rem;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between; }
    .footer--top__left {
      width: 30%; }
    .footer--top__right {
      display: flex;
      width: 40%;
      justify-content: space-around; }
      .footer--top__right h2 {
        font-size: 1.6rem; }
    .footer--top p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      max-width: 400px; }
  .footer--links {
    display: flex;
    flex-direction: column; }
  .footer--link {
    margin: 1rem 1rem;
    text-decoration: none;
    color: #3E3E3E; }
  .footer--socials {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer--socials__title {
      margin-bottom: 1rem; }
    .footer--socials__icons {
      margin-top: 0.3rem;
      display: flex;
      align-items: center; }
  .footer--bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem; }
    .footer--bottom p {
      font-size: 1rem;
      margin-bottom: 1rem; }

.home--page {
  max-width: 140rem;
  margin: 0 auto; }
  .home--page h1, .home--page h2, .home--page p {
    max-width: 500px; }
  .home--page p {
    display: inline-block; }
  .home--page h1, .home--page h2 {
    text-transform: uppercase;
    font-size: 3rem; }

.home--hero {
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: space-between; }
  .home--hero__txt p {
    margin: 1.5rem 0; }

.home--intro {
  display: flex;
  flex-direction: column;
  margin: 10rem 0;
  align-items: center; }
  .home--intro p {
    text-align: center;
    margin: 1.5rem 0; }
  .home--intro__title {
    display: flex;
    align-items: center; }
    .home--intro__title .logo {
      margin: 0 1rem; }
  .home--intro__func {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; }
    .home--intro__func p {
      max-width: 300px;
      text-align: left; }

.home--challenge {
  margin: 10rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .home--challenge__img {
    flex: 1 1 0px;
    margin: 0 2rem 0 2rem; }
    .home--challenge__img img {
      object-fit: cover; }
  .home--challenge__content {
    display: flex;
    flex-direction: column;
    flex: 2 1 0px; }
    .home--challenge__content .card-list {
      margin: 3rem 0;
      display: flex;
      justify-content: space-between; }
      .home--challenge__content .card-list > * {
        margin: 0 2rem; }
    .home--challenge__content .link {
      align-self: flex-end; }
      .home--challenge__content .link a {
        display: flex;
        align-items: center;
        font-size: 3rem; }
        .home--challenge__content .link a .arrow-right {
          margin-left: 1rem; }

.home--discord {
  display: flex;
  flex-direction: column;
  margin: 10rem 0;
  align-items: center; }
  .home--discord h2 {
    text-align: center; }
  .home--discord p {
    text-align: center;
    margin: 1.5rem 0; }

.login--page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.login--header {
  display: flex;
  width: 25vw;
  justify-content: space-around;
  margin: 2rem 0 4rem 0; }
  .login--header__underline {
    width: 100%;
    height: 0.2rem;
    background-color: #CDB4FF;
    margin-top: 0.5rem; }
  .login--header a {
    color: #3E3E3E;
    text-decoration: none;
    font-size: 2.5rem; }

.login--form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
  height: auto;
  border: 1px solid black;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: #BFFFD6 -6px -6px 0px 1px, -7px -7px 0 1px black; }
  .login--form__input {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%; }
    .login--form__input label {
      font-size: 1.6rem;
      margin-bottom: 0.5rem; }
    .login--form__input input {
      border: 1px solid black;
      border-radius: 5px;
      padding: 0.5rem;
      margin: 0.5rem 0;
      box-shadow: #3E3E3E -2px -2px 0px 1px; }
  .login--form a {
    font-size: 1.6rem; }
  .login--form__link {
    color: #3E3E3E;
    text-decoration: none;
    align-items: flex-start;
    width: 100%; }
  .login--form button {
    margin: 2rem 0;
    width: 100%;
    font-family: "millimetre_regular"; }
  .login--form__register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0; }
    .login--form__register p {
      font-size: 1.6rem; }
    .login--form__register a {
      color: #CDB4FF;
      text-decoration: none;
      font-size: 1.6rem; }
  .login--form__avatar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1rem 0; }

.forgotten-password--header {
  display: flex;
  flex-direction: column;
  width: 25vw;
  align-items: center;
  margin: 2rem 0 4rem 0; }
  .forgotten-password--header__underline {
    width: 100%;
    height: 0.2rem;
    background-color: #CDB4FF;
    margin-top: 0.5rem; }
  .forgotten-password--header a {
    color: #3E3E3E;
    text-decoration: none;
    font-size: 2.5rem; }

.login--form p {
  font-size: 1.6rem;
  margin: 1rem 0; }
