.button {
    background-color: #BFFFD6;
    border: 1px solid #3E3E3E;
    border-radius: 5px;
    box-shadow: #3E3E3E -2px -2px 0px 1px;
    padding: 5px 0;
    &:hover {
        animation: 0.25s infinite alternate shadowButton;
    }
}

.button-purple {
    background-color: #CDB4FF;
    border: 1px solid #3E3E3E;
    border-radius: 5px;
    box-shadow: #3E3E3E -2px -2px 0px 1px;
    padding: 5px 0;
    &:hover {
        animation: 0.25s infinite alternate shadowButton;
    }
}