.button {
    background-color: $green;
    @include button;
}

.button-green {
    background-color: $green;
    @include button;
}

.button-purple {
    background-color: $purple;
    @include button;
}

.button-gray {
    background-color: $white;
    @include button;
}

.button-green-light {
    background-color: $green;
    @include button-white-shadow;
}

.button-purple-light {
    background-color: $purple;
    @include button-white-shadow;
}


