.card {
    position: relative;
    @include card;
    @include screen768 {
        margin-bottom: 2rem;
    }
    > * {
        margin: 1rem 0;
    }
    &--img {
        overflow: hidden;
        border: 2px solid $black;
        border-radius: 5px;
        width: 100%;
        height: 260px;
        align-self: center;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &--title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & span {
            font-family: $primaryFontBold;
            font-size: 2rem;
        }
    }
    &--txt {
        align-self: flex-start !important;
    }
    &--btn {
        align-self: center;
        /* padding: .5rem 3rem; */
    }
    .created-by-me {
        position: absolute;
        right: 10px;
        top: 5px;
        background-color: $purple;
        padding: .7rem;
        font-family: $primaryFontBold;
        border: $black solid 2px;
        border-radius: 5px;
        box-shadow: $black -2px -2px 0px 1px;
    }
    .created-by-me-btn {
        background-color: $purple;
    }
}