.footer {
    background-color: $purple;
    color: $black;
    width: 100%;
    border-top: $black 5px solid;
    &--top {
        margin: 2rem 2rem;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        @include screen768 {
            flex-direction: column;
        }
        &__left {
            flex: 1 1 0px;
            @include screen768 {
                margin-bottom: 2rem;
            }
        }
        &__right {
            display: flex;
            flex: 2 1 0px;
            justify-content: space-around;
            @include screen768 {
                justify-content: space-between;
                width: 100%;
            }
            & h2 {
                font-size: $fontSize;
            }
        }
        & p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
            max-width: 400px;
        }
    }
    &--links {
        @include flex-column;
    }
    &--link {
        margin: 1rem 1rem;
        text-decoration: none;
        color: #3E3E3E;
    }
    &--socials {
        margin: 1rem 1rem;
        @include flex-column;
        align-items: center;
        &__title {
            margin-bottom: 1rem;
        }
        &__icons {
            margin-top: 0.3rem;
            display: flex;
            align-items: center;
        }
    }
    &--bottom {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
        @include screen768 {
            @include container-wrapper;
        }
        & p {
            font-size: 1rem;
            margin-bottom: 1rem;
            display: inline-block;
        }
        &p:last-child {
            text-align: right;
        }
    }
}