.footer {
    position: absolute;
    bottom: 0;
    background-color: #CDB4FF;
    color: #3E3E3E;
    width: 100%;
    h1 {
        color: black;
        font-size: $fontSize;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    &--top {
        margin: 2rem 2rem;
        display: flex;
        justify-content: space-between;
        &__left {
            width: 30%;
        }
        &__right {
            display: flex;
            width: 40%;
            justify-content: space-around;
            & h2 {
                font-size: $fontSize;
            }
        }
    }
    &--links {
        @include flex-column;
    }
    &--link {
        margin: 1rem 1rem;
        text-decoration: none;
        color: #3E3E3E;
    }
    &--socials {
        margin: 1rem 1rem;
        @include flex-column;
        align-items: center;
        &__title {
            margin-bottom: 1rem;
        }
        &__icons {
            margin-top: 0.3rem;
            display: flex;
            align-items: center;
        }
    }
    &--bottom {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
    }
}