.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 1rem 2rem;
    background-color: $white;
}

.header--right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header--right__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header--right__social {
    margin-left: 1rem;
}

.link {
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
    font-size: $fontSize;
}

.icon {
    margin: 0 0.5rem;
}