.about {
    &--page {
        padding: 10rem 0 2rem 0;
        @include screen768 {
            padding: 2rem 0;
        }
    }
    &--banner {
        text-align: center;
        padding-bottom: 10rem;
        @include screen768 {
            height: auto;
            padding: 0 2rem;
        }
        & svg {
            margin-top: 6rem;
            height: 250px;
            width: 100%;
        }
        &__img {
            border-radius: 20px;
            @include box-shadow;
            height: 60vh;
            @include screen768 {
                height: 30vh;
            }
        }
        &__txt {
            margin-top: 3rem;
            & h1 {
                max-width: 700px;
                text-align: center;
                margin: 0 auto;
            }
            & p {
                margin-top: 2rem;
                font-size: 2rem;
                max-width: 650px;
                text-align: center;
                margin: 2rem auto;
            }
        }
        &__scores {
            margin-top: 5rem;
            display: flex;
            justify-content: space-around;
            @include screen768 {
                flex-wrap: wrap;
            }
            & .score {
                @include screen768 {
                    margin: 1rem 3rem;
                }
                & h2 {
                    font-size: 3rem;
                }
                & p {
                    font-size: 4rem;
                    margin-top: 1.5rem;
                    font-weight: bold;
                }
            }
        }
    }
    &--intro {
        @include flex-column;
        align-items: center;
        background-color: $purple;
        justify-content: space-around;
        padding: 5rem 0;
        border-top: 10px solid $black;
        border-bottom: 10px solid $black;
        @include screen768 {
            height: auto;
            margin-top: 5rem;
            padding: 4rem 2rem;
        }
        &__title {
            width: 70vw;
            text-align: center;
            line-height: 3rem;
            @include screen768 {
                width: 100%;
            }
            & p {
                margin: 6rem auto;
                text-align: justify;
                font-size: 2rem;
                max-width: 800px;
            }
            & h1 {
                font-size: 5rem;
            }
            & svg {
                width: 100%;
            }
        }
        &__content {
            display: flex;
            justify-content: space-around;
            width: 70vw;
            margin-top: 10rem;
            @include screen768 {
                flex-direction: column;
                width: 100%;
            }
            & .globe {
                @include screen768 {
                    display: none;
                }
            }
            &__txt {
                width: 40vw;
                text-align: right;
                @include screen768 {
                    width: 100%;
                    text-align: center;
                }
                & p {
                    margin: 2rem 0;
                    line-height: 3rem;
                    font-size: 2rem;
                }
                & h2 {
                    font-size: 5rem;
                }
                & button {
                    margin: 2rem 0;
                    display: unset;
                }
            }
        }
    }
    &--team {
        @include flex-column;
        justify-content: space-around;
        padding: 5rem 0;
        @include screen768 {
            align-items: center;
            height: auto;
            margin-top: 5rem;
            padding: 5rem 2rem;
        }
        & h2 {
            font-size: 5rem;
            align-self: center;
            @include screen768 {
                margin-bottom: 5rem;
            }
        }
        & p {
            width: 70vw;
            text-align: justify;
            align-self: center;
            line-height: 3rem;
            font-size: 2rem;
            margin: 5rem 0;
            max-width: 900px;
            @include screen768 {
                width: 100%;
            }
        }
        &__cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            @include screen768 {
                flex-direction: column;
                margin: 5rem 1rem;
            }
            & p {
                width: auto;
            }
            & .card {
                margin-top: 2rem;
            }
        }
    }
    &--discord {
        @include flex-column;
        margin: 10rem 0;
        align-items: center;
        & h2 {
            font-size: 4rem;
            text-align: center;
            text-transform: uppercase;
        }
        & p {
            text-align: center;
            margin: 2rem 0;
            width: 70vw;
            font-size: 1.6rem;
            line-height: 3rem;
            max-width: 650px;
        }
    }
}