.challenges-list {
    &--page {
        padding: 5rem;
        @include screen768 {
            padding: 2rem;
        }
    }
    &--difficulty {
        display: flex;
        margin-top: 5rem;
        &__buttons {
            display: flex;
            margin-left: 3rem;
        }
        & .mobile {
            width: 100%;
        }
    }
    &--list {
        display: flex;
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5rem auto;
        > div {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
/*             display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 20px;
            align-items: stretch; */
            & .card {
                min-width: 350px;
                margin: 5rem 2rem;
                @include screen768 {
                    width: 100%;
                    margin: 2rem;
                }
            }

        }
    }
}