.challenges-list {
    &--page {
        padding: 5rem;
        @include screen768 {
            padding: 2rem;
        }
    }
    &--difficulty {
        display: flex;
        margin-top: 5rem;
        &__buttons {
            display: flex;
            margin-left: 3rem;
        }
        & .mobile {
            width: 100%;
        }
    }
    &--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5rem;
        & .card {
            width: 30%;
            margin: 5rem;
            @include screen768 {
                width: 100%;
                margin: 2rem;
            }
        }
    }
}