.challenge-page {
    &--infos {
        margin: 4rem 0 4rem 5rem;
        padding: 3rem;
        border: 2px $black solid;
        border-right: none;
        border-radius: 20px 0 0 20px;
        @include screen1024 {
            margin: 4rem 2rem;
            border: 2px $black solid;
            border-radius: 20px;
        }
        @include screen768 {
            margin: 4rem 1rem;
            padding: 3rem 1rem;
        }
        &__details {
            display: flex;
            @include screen1024 {
                flex-direction: column;
            }
            .auteur-data {
                flex: 1 1 0px;
                h1 {
                    padding: 1rem;
                }
                table {
                    margin-top: 2rem;
                    td {
                        padding: 1rem;
                        max-width: 35rem;
                    }
                }
            }
            .img-info {
                flex: 1 1 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include screen1024 {
                    margin: 3rem 0;
                }
                > div {
                    overflow: hidden;
                    border: 2px solid $black;
                    border-radius: 10px;
                    box-shadow: $green -6px -6px 0px 1px, -7px -7px 0 1px $black;
                    min-width: 600px;
                    @include screen768 {
                        min-width: 100%;
                        margin: 1.5rem;
                    }
                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }
            }
        }
        &__answer {
            .challenge-answer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include screen768 {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                &--form {
                    display: flex;
                    align-items: flex-end;
                    @include screen768 {
                        flex-direction: column;
                        align-items: center;
                    }
                    & label {
                        display: block;
                        margin-bottom: 1rem;
                    }
                    input {
                        padding: 1rem;
                        min-width: 200px;
                        border: 1px $black solid;
                        font-size: 1.5rem;
                        border-right: none;
                        border-radius: 10px 0 0 10px;
                        box-shadow: $black -2px -2px 0px 1px;
                        @include screen550 {
                            min-width: auto;
                        }
                    }
                    button {
                        padding: 1rem 1.5rem;
                        border: 1px $black solid;
                        font-size: 1.5rem;
                        border-radius: 0px 10px 10px 0px;
                        background-color: $purple;
                        box-shadow: $black -1px -2px 0px 1px;
                    }
                }
                &--validation {
                    padding: 1rem 2rem;
                    margin-left: 3rem;
                    background-color: white;
                    border: 2px solid $black;
                    align-self: flex-end;
                    border-radius: 10px;
                    box-shadow: $black -2px -2px 0px 1px;
                    @include screen768 {
                        margin-top: 2rem;
                        align-self: center;
                        margin-left: 0;
                    }
                    > * div {
                        display: flex;
                        align-items: center;
                    }
                    & svg {
                        height: 26px;
                        width: 25px;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    &--forum {
        margin: 4rem 5rem;
        display: flex;
        @include screen1024 {
            flex-direction: column;
            margin: 4rem 2rem;
        }
        @include screen768 {
            margin: 4rem 1rem;
        }
        &__messages {
            flex: 1;
            padding: 2rem;
            border: 2px $black solid;
            margin-right: 3rem;
            border-radius: 20px 0 0 20px;
            @include screen1024 {
                margin-bottom: 4rem;
                margin-right: 0;
            }
            h2 {
                margin-bottom: 1.5rem;
            }
            p {
                border: 1px solid $black;
                padding: 1rem;
                border-radius: 10px;
                margin-top: .7rem;
                box-shadow: $green -2px -2px 0px 1px, -3px -3px 0 1px $black;
            }
            > div {
                margin: 2rem 0;
            }
        }
        &__ranking {
            padding: 2rem;
            border: 2px $black solid;
            border-radius: 20px;
            h2 {
                margin-bottom: 1.5rem;
            }
            & span {
                display: block;
                margin: 1rem 0;
                font-family: $primaryFontBold;
            }
            & ol {
                list-style: decimal;
                padding: 0 2rem;
                & li {
                    margin: .5rem 0;
                }
            }
        }
    }
}