.challenges-list {
    &--page {
        padding: 5rem;
        @include screen768 {
            padding: 2rem;
        }
    }
    &--difficulty {
        display: flex;
        margin-top: 5rem;
        &__buttons {
            display: flex;
            margin-left: 3rem;
        }
        & .mobile {
            width: 100%;
        }
    }
    &--list {
        margin-top: 5rem;
        margin: 5rem auto;
        > div {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            & .card {
                min-width: 350px;
                margin: 5rem 2rem;
                @include screen768 {
                    width: 100%;
                    margin: 2rem;
                }
            }
        }
    }
}