.general-ranking-page {
    &--content {
        margin: 5rem;
        @include screen768 {
            margin: 5rem 2rem;
        }
        @include screen550 {
            margin: 5rem 1rem;
        }
        &__title {
            display: flex;
            align-items: center;
            font-size: 3rem;
            margin: 50px 0 0 50px;
            @include screen1024 {
                justify-content: center;
            }
        }
        &__table {
            margin-top: 5rem;
            padding: 4rem;
            border-radius: 20px;
            @include screen768 {
                padding: 2rem 0;
            }
            & table {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0;
            }
            & thead {
                tr {
                    th {
                        box-shadow: $black -2px -2px 0px 0px; 
                        padding: 2rem 1.5rem;
                        text-align: left;
                        font-size: 1.8rem;
                        
                        
                        border-style: solid none solid none;
                        background-color: $purple;
                        @include screen550 {
                            padding: 2rem 1rem;
                        }
                    }
                    &:first-child th:first-child { border-top-left-radius: 20px; }
                    &:first-child th:last-child { border-top-right-radius: 20px; }
                    &:last-child th:first-child { border-bottom-left-radius: 20px; }
                    &:last-child th:last-child { border-bottom-right-radius: 20px; }
                    &:first-child th { border-top-style: solid; }
                    & th:first-child { border-left-style: solid; }
                }
            }
            & tbody {
                tr {
                    td {
                        border-bottom: 3px ridge #BFFFD6;
                        padding: 1.5rem;
                        @include screen550 {
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 3rem;
    & div {
        width: 25%;
        text-align: center;
        flex: 2;    
    }
    &--number {
        flex: 1 !important;
    }
    &--trophy {
        flex: 1 !important;
    }
}

.global-ranking {
    &--header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        font-size: 3rem;
        background-color: $black;
        & div {
            width: 25%;
            text-align: center;
            flex: 2;
            color: $white;
        }
        &__number {
            flex: 1 !important;
        }
        &__trophy {
            flex: 1 !important;
        }
    }
}