.profile-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    @include screen768 {
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }
    &--title {
        font-size: 2.5rem;
        font-family: $primaryFontBold;
        margin-bottom: 2rem;
    }
    & .login--form {
        height: 55vh;
        width: 30vw;
        @include screen768 {
            width: 90%;
        }
        & button {
            align-self: flex-start;
            width: 50%;
        }
    }
    &--avatar {
        & svg {
            &:hover {
                cursor: pointer;
                animation: 0.4s scaling ease-in-out;
            }
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            width: 100%;
            & button {
                font-size: 1.5rem;
                margin: 0 1rem;
            }
        }
    }
}