$screen1024: 1024px;
$screen768: 768px;
$screen550: 550px;

@mixin screen1024 {
    @media (max-width: #{$screen1024}) {
      @content;
    }
}

@mixin screen768 {
    @media (max-width: #{$screen768}) {
      @content;
    }
}

@mixin screen550 {
    @media (max-width: #{$screen550}) {
      @content;
    }
}


@mixin container-wrapper {
    padding: 0 20%;
    margin: 0 auto;
    @include screen1024 {
        max-width: 90vw;
        padding: 0;
    }
    @include screen768 {
        max-width: 90vw;
        padding: 0;
    }
}

@mixin nav-f-wrapper {
    max-width: 90vh;
    width: 100%;
    margin: 0 auto;
}

@mixin box-shadow {
    box-shadow: $black -2px -2px 0px 1px;
}

@mixin box-shadow-light {
    box-shadow: $white -2px -2px 0px 1px;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}


@mixin button {
    font-family: $primaryFontBold;
    letter-spacing: .1rem;
    border: 1px solid $black;
    border-radius: 5px;
    box-shadow: $black -2px -2px 0px 1px;
    padding: .5rem 2rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        animation: 0.25s infinite alternate shadowButton;
    }
    & a {
        font-family: $primaryFontBold;
        color: $black;
        text-align: center;
    }
}

@mixin button-white-shadow {
    font-family: $primaryFontBold;
    letter-spacing: .1rem;
    border: 1px solid $black;
    border-radius: 5px;
    box-shadow: $white -2px -2px 0px 1px;
    padding: .5rem 2rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        animation: 0.25s infinite alternate shadowButton;
    }
    & a {
        font-family: $primaryFontBold;
        color: $black !important;
        text-align: center;
    }
}


@mixin burger-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    height: 40px;
    width: 40px;
    border: 2px solid $black;
    background-color: $white;
    border-radius: 50%;
    box-shadow: $purple 1px 1px 0px 1px, 2px 2px 0 1px $black;
    user-select: none;
    z-index: 10;
    > span {
        background-color: $black;
        border-radius: 2px;
		height: 2px;
        width: 23px;
        position: relative;
        display: block;
        transition: all .2s ease-in-out;
        &.expanded {
            background-color: transparent;
        }
        &:after, &:before {
            content: "";
			height: 2px;
            width: 25px;
            border-radius: 2px;
            background-color: $black;
            position: absolute;
            transition: all .2s ease-in-out;
        }
        &:before {
            top: -5px;
            height: 2.5px;
        }
        &.expanded:before  {
            transform: rotate(45deg) translate(5px, 2px);
            width: 20px;
            opacity: 1;
        }
        &:after {
            top: 5px;
            height: 2px;
        }
        &.expanded::after {
            width: 20px;
            transform: rotate(-45deg) translate(5px, -2px);
        }
    }
}


@mixin card {
    @include flex-column;
    width: 100%;
    max-width: 360px;
    padding: 1.5rem;
    background-color: $white;
    border: 2px solid $black;
    border-radius: 20px;
    box-shadow: $green -6px -6px 0px 1px, -7px -7px 0 1px $black;
}